version: '3.8'

volumes:
  postgres_data:
  static_data:
  media_data:

services:
  db:
    image: postgres:12
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    enviroment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  nginx:
    image: nginx:1.19
    restart: always
    ports: 
      - "8000:80"
    depends_on: 
      - web
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_data:/static
      - media_data:/media
  web:
    image: rosiral/foodgram
    restart: always
    expose:
      - "8000" 
    depends_on:
      - db
    volumes:
      - static_data:/foodgram/static
      - media_data:/foodgram/media
    env_file:
      - ./.env